---
import Layout from '../layouts/Layout.astro';
import InputSelector from '../components/InputSelector.vue'

const makers = [
	"First Name",
	"Last Name",
	"Company Name",
	"Email",
	"Phone Number",
	"Address",
	"Address 2",
	"State",
	"City",
	"Zip",
	"Price",
	"Number",
	"Date",
	"True/False",
	"Id",
	"Credit Card",
	"Credit Card CVV"
];
---

<Layout>
	<h1 class="flex items-center justify-between bg-accent-pink px-14 py-1 text-bg">
		<span class="text-sm font-black">⚡ WIP ⚡</span>
		<span class="text-xs font-black">last updated JAN-01-2025</span>
		<span class="text-xs font-black">will be finished by JAN-21-2025</span>
	</h1>

	<div class="mx-14">

		<h1 class="text-text-grey text-[40px] font-black mt-10">fakermaker</h1>
		<h2 class="text-text-grey mt-3.5 max-w-[500px] leading-[22px]">Quickly generate fake test data using characters from your favorite movies, shows, video games, and more.</h2>

		<InputSelector item-names={makers} client:load />
		<div class="text-text-grey mt-3">some other component</div>
	</div>
</Layout>
