---
import Layout from '../layouts/Layout.astro';
import FakerMakerApp from '../components/FakerMakerApp.vue'

---

<Layout>
	<h1 class="flex items-center justify-between bg-accent-pink px-8 py-1 text-white">
		<span class="text-sm font-black">⚡ WIP ⚡</span>
		<span class="text-xs font-black">last updated JAN-20-2025</span>
		<span class="text-xs font-black">will be finished by JAN-23-2025</span>
	</h1>
		<FakerMakerApp client:load/>
</Layout>

<script>
	import { VueQueryPlugin, QueryClient } from '@tanstack/vue-query'
	import { createApp } from 'vue'
	import FakerMakerApp from '../components/FakerMakerApp.vue'

	const app = createApp(FakerMakerApp)
	const queryClient = new QueryClient()

	app.use(VueQueryPlugin, {
		queryClient
	})
</script>