---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width"/>
		<meta name="description" content="Generate fake CSV data from your favorite movies and shows"/>
		<link rel="icon" type="image/svg+xml" href="/fakermaker.svg"/>
		<meta name="generator" content={Astro.generator}/>

		<!-- Primary Meta Tags -->
		<title>Fakermaker - Generate fake data</title>
		<meta name="title" content="Fakermaker - Generate fake data" />
		<meta name="description" content="Generate fake CSV data from your favorite movies and shows" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://fakermaker.fm/" />
		<meta property="og:title" content="Fakermaker - Generate fake data" />
		<meta property="og:description" content="Generate fake CSV data from your favorite movies and shows" />
		<meta property="og:image" content="https://fakermaker.fm/fakermaker.png" />
		<meta property="og:image:type" content="image/svg+xml" />
		<meta property="og:image:width" content="1201" />
		<meta property="og:image:height" content="630" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://fakermaker.fm/" />
		<meta property="twitter:title" content="Fakermaker - Generate fake data" />
		<meta property="twitter:description" content="Generate fake CSV data from your favorite movies and shows" />
		<meta property="twitter:image" content="https://fakermaker.fm/fakermaker.png" />

		<title>fakermaker</title>
	</head>
	<body class="bg-bg min-h-full h-full">
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	 html {
		 font-family: "JetBrains Mono", sans-serif;
	 }
	code {
		font-family: JetBrains Mono,
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-Light.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'JetBrains Mono';
		src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
</style>
